.redhr{
  width:60px;height:4px;border-width:0;color:gray;background-color:#F23535;;
}

.whitehr{
  width:60px;height:4px;border-width:0;color:gray;background-color:white;
}


.nav-item {
  padding: 0px 10px; }

h2,
.hover-text,
button {
  font-family: 'Montserrat', sans-serif; }

.navbar,
.hover-text1,
.latest p,
.bottom-left,
footer {
  font-family: 'Open Sans', sans-serif; }

.navbar {
  background-color: #F23535!important; }

.navbar li a {
  color: white!important; }

.navbar li a:hover, .navbar li a:focus, .navbar li a:active {
  border-top: 2px solid white!important;
  font-weight: bold; }


.bg-image-full {
  margin-top: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/pexels-photo-76093_1.png) no-repeat center center scroll;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pexels-photo-76093_1.png) no-repeat center center scroll;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pexels-photo-76093_1.png) no-repeat center center scroll;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/pexels-photo-76093_1.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 500px;
  width: auto; }

#logo {
  padding-top: 125px; }

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.mostpopular {
  text-align: center; }

.mostpopular-img {
  overflow: hidden;
  display: block; }

#mostpopular {
  position: relative; }

.mostpopular:hover .all_overlay {
  opacity: 1; }

  .recitem  {
    width: 100%;
    height: 250px;
    overflow: hidden; 
    margin-bottom: 10px;
  }
  
  .recitem img {
    float:left;
    width:50%;
    max-height:250px;
    object-fit:cover;
  }

.overlay-grid {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }

.overlay-grid:hover {
  opacity: 1 !important; }

.overlay_text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  color: white;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.overlay_image{
  width: 100%;
  height: 200px;
}

.hover-text {
  margin: auto;
  width: 70%; }

.overlay-text:hover {
  opacity: 0; }

.center-blogk {
  background-color: #F23535!important;
  color: white!important;
  text-align: center; }

.center-blogk:hover {
  background-color: white !important;
  color: #F23535!important;
  text-decoration: none;
  border: 1px solid #F23535; }

.mostpopular, .latest, .recipes, .gallery {
  border-bottom: 1px solid #505050;
  padding-top: 30px;
  padding-bottom: 30px; }

.recipes-img {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden; }

.recipes .img-fluid {
  height: 250px;
  width: 250px; }

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white; }

.owl-carousel {
  max-width: 100%;
  margin: 5; }


.owl-item {
  width: 100%;
  height: 200px;
  overflow: hidden; }

  .overlay_image {
    float:left;
    width:50%;
    max-height:200px;
    object-fit:cover;
}

#info {
  font-size: 30px; }

#row2 .img-fluid {
  height: 250px;
  width: 250px; }

.gallery-img .play {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -43px;
  margin-top: -40px;
  z-index: 14; }

.gallery-img .play1 {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 15; }

  #row2 .img-fluid {
    float:left;
    width:100%;
    max-height:250px;
    object-fit:cover;
}

footer {
  background-color: #464646;
  color:rgb(206, 206, 206);
}
